.sp-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 24px;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		margin-top: -7px;
		width: 14px;
		height: 14px;
		background: #fff;
		border: 1px solid #dcdfe6;
		box-sizing: border-box;
		border-radius: 2px;
		transition: background-color .25s;
	}
	&::after {
		content: '';
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 5px;
		margin-top: -5px;
		width: 3px;
		height: 7px;
		border: 1px solid #fff;
		border-top: 0;
		border-left: 0;
		transform: rotate(45deg)  scaleY(0);
		transition: transform .15s ease-in .05s;
	}
	input[type=checkbox] {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -1;
		margin-top: -7px;
		width: 14px;
		height: 14px;
		opacity: 0;
		visibility: hidden;
	}
	&.is-checked::before {
		background: #409EFF;
	}
	&.is-checked::after {
		transform: rotate(45deg) scaleY(1);
	}
	&.is-disabled {
		cursor: not-allowed;
		color: #c0c4cc;
	}
	&.is-disabled::before {
		border-color: #dcdfe6;
		background: #edf2fc;
	}
	&.is-disabled.is-checked::after {
		border-right-color: #c0c4cc;
		border-bottom-color: #c0c4cc;
	}
}
.sp-checkbox+.sp-checkbox {
	margin-left: 30px;
}