.sp-input-number {
	position: relative;
	width: 180px;
	height: 40px;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	.decrease, .increase {
		position: absolute;
		top: 1px;
		z-index: 1;
		width: 41px;
		height: 38px;
		line-height: 38px;
		font-size: 14px;
		text-align: center;
		box-sizing: border-box;
		background: #f5f7fa;
		cursor: pointer;
	}
	.decrease {
		left: 1px;
		border-right: 1px solid #dcdfe6;
		border-radius: 4px 0 0 4px;
	}
	.increase {
		right: 1px;
		border-left: 1px solid #dcdfe6;
		border-radius: 0 4px 4px 0;
	}
	.decrease.is-disabled, .increase.is-disabled {
		cursor: not-allowed;
		color: #c0c4cc;
	}
	.sp-input {
		padding: 0 50px;
		width: 100%;
		text-align: center;
	}
	
	.decrease:not(.is-disabled):hover~.sp-input, .increase:not(.is-disabled):hover~.sp-input {
		border-color: #409EFF;
	}

	&.medium {
		height: 36px;
		.decrease, .increase {
			width: 37px;
			height: 34px;
			line-height: 35px;
		}
		.sp-input {
			padding: 0 43px;
		}
	}

	&.small {
		width: 130px;
		height: 32px;
		.decrease, .increase {
			width:33px;
			height: 30px;
			line-height: 31px;
			font-size: 13px;
		}
		.sp-input {
			padding: 0 39px;
		}
	}

	&.mini {
		width: 130px;
		height: 28px;
		.decrease, .increase {
			width: 29px;
			height: 26px;
			line-height: 27px;
			font-size: 12px;
		}
		.sp-input {
			padding: 0 35px;
		}
	}

	&.is-controls-right {
		.decrease, .increase {
			height: auto;
			line-height: 19px;
			font-size: 13px;
			[class^=sp-icon-] {
				transform: scale(.8);
			}
		}
		.decrease {
			top: auto;
			bottom: 1px;
			right: 1px;
			left: auto;
			border-radius: 0 0 4px 0;
			border-right: none;
			border-left: 1px solid #dcdfe6;
		}
		.increase {
			border-radius: 0 4px 0 0;
			border-bottom: 1px solid #dcdfe6;
		}
		&.medium {
			.decrease, .increase {
				line-height: 17px;
			}
		}
		&.small {
			.decrease, .increase {
				line-height: 15px;
			}
		}
		&.mini {
			.decrease, .increase {
				line-height: 13px;
			}
		}
	}

	&.is-no-controls {
		.decrease, .increase {
			display: none;
		}
		.sp-input {
			padding: 15px;
		}
	}
}