<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>按钮</title>
	<link rel="stylesheet" type="text/css" href="../css/button.css">
	<link rel="stylesheet" type="text/css" href="../css/icon.css">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.main {
			margin: 0 auto;
			padding: 50px;
			width: 1000px;
		}
		.row {
			margin-bottom: 20px;
		}
		.sp-btn {
			margin-right: 20px;
		}
	</style>
</head>
<body>
	
	<div class="main">
		<div class="row">
			<button class="sp-btn">默认按钮</button>
			<a class="sp-btn" href="#">默认按钮</a>
			<input class="sp-btn" type="button" value="默认按钮">
		</div>
		<div class="row">
			<button class="sp-btn primary">主要按钮</button>
			<button class="sp-btn success">成功按钮</button>
			<button class="sp-btn info">信息按钮</button>
			<button class="sp-btn warning">警告按钮</button>
			<button class="sp-btn danger">危险按钮</button>
		</div>
		<div class="row">
			<button class="sp-btn is-plain">默认按钮</button>
			<button class="sp-btn primary is-plain">主要按钮</button>
			<button class="sp-btn success is-plain">成功按钮</button>
			<button class="sp-btn info is-plain">信息按钮</button>
			<button class="sp-btn warning is-plain">警告按钮</button>
			<button class="sp-btn danger is-plain">危险按钮</button>
		</div>

		<div class="row">
			<button class="sp-btn default sp-icon-edit">默认按钮</button>
		</div>
	</div>
</body>
</html>