<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>计数器</title>
	<link rel="stylesheet" type="text/css" href="../css/icon.css">
	<link rel="stylesheet" type="text/css" href="../css/input.css">
	<link rel="stylesheet" type="text/css" href="../css/inputnumber.css">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			padding: 30px 0;
			background: #ececec;
			line-height: 24px;
			font-size: 14px;
		}
		.group {
			margin: 0 auto;
			padding: 10px 20px;
			width: 800px;
			box-sizing: border-box;
			border-radius: 5px;
			background: #fff;
		}
		.group+.group {
			margin-top: 20px;
		}
		.group h3 {
			font-weight: normal;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<div class="group">
		1、默认样式左边减号，右边加号，中间输入框<br>
		2、输入框失去焦点后判断数据类型，如果不是数字类型，重置为默认值<br>
		3、默认值为1，可通过value属性设置默认值<br>
		4、默认加减步数为1，可通过step属性设置加减步数<br>
		5、默认小数点个数为0，可通过precision设置小数点个数，大等于0<br>
		6、禁用状态disabled属性为true时禁用<br>
		7、最小最大值，min最小，max最大，达到边界后加减按钮禁用，失去焦点时校正<br>
		8、通过添加medium、small、mini类名改变尺寸<br>
		9、是否使用按钮controls，通过is-no-controls控制<br>
		10、按钮位置controls-position，可选值right，通过添加is-controls-right类名改变按钮位置。
	</div>

	<!-- <div class="group">
		<h3>默认样式</h3>
		<div class="sp-inputnumber">
			<span class="decrease">
				<i class="sp-icon-minus"></i>
			</span>
			<span class="increase">
				<i class="sp-icon-plus"></i>
			</span>
			<input class="sp-input" type="text">
		</div>
	</div>

	<div class="group">
		<h3>按钮不能点击状态</h3>
		<div class="sp-inputnumber">
			<span class="decrease is-disabled">
				<i class="sp-icon-minus"></i>
			</span>
			<span class="increase">
				<i class="sp-icon-plus"></i>
			</span>
			<input class="sp-input" type="text">
		</div>
	</div> -->

	<div class="group">
		<h3>默认样式</h3>
		<div class="sp-inputnumber"></div>
	</div>

	<div class="group">
		<h3>value初始值，默认为1</h3>
		<div class="sp-inputnumber" value="0"></div>
	</div>

	<div class="group">
		<h3>precision精度，在0到20之间</h3>
		<div class="sp-inputnumber" precision="2" value="3.14159"></div>
	</div>

	<div class="group">
		<h3>最大值max，最小值min</h3>
		<div class="sp-inputnumber" max="2" min="-2" value="-2"></div>
	</div>

	<div class="group">
		<h3>尺寸</h3>
		<div class="sp-inputnumber"></div>
		<div class="sp-inputnumber medium"></div>
		<div class="sp-inputnumber small"></div>
		<div class="sp-inputnumber mini"></div>
	</div>

	<div class="group">
		<h3>不适用按钮controls=false</h3>
		<div class="sp-inputnumber" controls="false"></div>
		<div class="sp-inputnumber medium" controls="false"></div>
		<div class="sp-inputnumber small" controls="false"></div>
		<div class="sp-inputnumber mini" controls="false"></div>
	</div>

	<div class="group">
		<h3>controls-position="right"</h3>
		<div class="sp-inputnumber" controls-position="right"></div>
		<div class="sp-inputnumber medium" controls-position="right"></div>
		<div class="sp-inputnumber small" controls-position="right"></div>
		<div class="sp-inputnumber mini" controls-position="right"></div>
	</div>

	<div class="group">
		<h3>设置disabled状态</h3>
		<div id="nb1" class="sp-inputnumber"></div>
		<button class="nb1-btn">切换</button>
	</div>

	<div class="group">
		<h3>获取输入框值</h3>
		<div id="nb2" class="sp-inputnumber"></div>
		<button class="nb2-btn">获取</button>
		<span class="nb2-text"></span>
	</div>

	<script src="../js/tools.js"></script>
	<script src="../js/index.js"></script>
	<script>
		
		var oNb1 = document.querySelector('#nb1');
		var oBtn1 = document.querySelector('.nb1-btn');

		oBtn1.onclick = function () {
			if ( this.isDisabled ) {
				this.isDisabled = false;
				oNb1.setDisabled(false);
			} else {
				this.isDisabled = true;
				oNb1.setDisabled(true);
			}
		}

		var oNb2 = document.querySelector('#nb2');
		var oBtn2 = document.querySelector('.nb2-btn');
		var oText2 = document.querySelector('.nb2-text');

		oBtn2.onclick = function () {
			oText2.innerHTML = oNb2.getValue();
		}

	</script>
</body>
</html>