<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>表格</title>
	<link rel="stylesheet" type="text/css" href="../css/table.css">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.main {
			margin: 40px auto;
			width: 1000px;
		}
	</style>
</head>
<body>

	<div class="main">
		<table>
			<thead>
				<td>#</td>
				<td>姓名</td>
				<td>性别</td>
				<td>年龄</td>
				<td>学院</td>
				<td>专业</td>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>王飞凤</td>
					<td>女</td>
					<td>19</td>
					<td>宇宙旅行学院</td>
					<td>宇宙旅行中危险的预防与处理专业</td>
				</tr>
				<tr>
					<td>2</td>
					<td>刘五金</td>
					<td>男</td>
					<td>18</td>
					<td>材料学院</td>
					<td>金属材料专业</td>
				</tr>
			</tbody>
		</table>

	</div>

	<script src="../js/index.js"></script>
	<script></script>
</body>
</html>